<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div id="app" class="container mx-auto">
        <div class="mx-auto w-fit flex flex-wrap gap-5 my-5">
            <h1 class="text-xl font-semibold">{{greeting}}</h1>
            <input @keyup.enter="greet" class="bg-cyan-100 rounded-lg p-2" type="text" v-model="greeting"> 
        </div>
        <hr>
        <input type="checkbox" v-model="isVisible" name="checkme">
        <label for="checkme">Mostrar 1</label>
        <div class="w-fit bg-cyan-100" v-if="isVisible">
            si se muestra mi loco 1 
        </div>
        <div class="w-fit bg-cyan-100" v-else-if="!isVisible">
            si se muestra mi loco 2
        </div>
        <div class="w-fit bg-cyan-100" v-else>
            si se muestra mi loco 3
        </div>
        <hr>
        <button v-on:click="showimg">Show a new image</button>
        <img v-bind:src="img" alt="img">
        <hr>
        <login-form></login-form>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            data() {
                return {
                    greeting: 'Vue 3 basics',
                    isVisible: false,
                    img: 'https://picsum.photos/200/300?random=123'
                }
            },
            methods: {
                showimg(){
                    let random = Math.floor(Math.random() * 100);
                    this.img = 'https://picsum.photos/200/300?random='+random;
                },
                greet(){
                    this.greeting += " kuchau";
                },
            },
        });
        app.component("login-form",{
            template:`
            <h1 class="text-xl">Login</h1>
            <form @submit.prevent="handleSubmit">
            <div class="flex flex-wrap gap-5 p-1">
                <input class="p-2 bg-teal-200" type="text" v-model="email">
                <input class="p-2 bg-teal-200" type="password" v-model="password">
                <button>Login</button>
            </div>
            </form>
            `,
            data(){
                return{
                    email:"",
                    password:""
                }
            },
            methods: {
                handleSubmit(){
                    console.log(this.email + this.password);
                    console.log("submitted");
                }
            },
        });
        app.mount('#app');
    </script>
</body>
</html>