<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<title>Vue 3</title>
</head>
<body>
	<div id="app" class="flex items-center justify-center h-screen">
		<div class="border-2 border-cyan-500 p-5 rounded-lg w-full mx-20"> 
			<div class="hover:bg-cyan-100 transition ease-in-out duration-300 p-2 rounded-lg">
				<div class="capitalize font-bold mx-auto w-fit p-2">
					{{title}}
				</div>
				<form v-on:submit.prevent="get_user" accept-charset="utf-8">
					<div class="mx-auto w-fit"> 
						<div class="flex flex-nowrap gap-2">
							<input v-model="search" class="border-2 border-amber-300 p-2 rounded-lg" type="text" name="search">
							<button class="hover:bg-amber-300 hover:shadow-lg rounded-lg p-2 transition ease-in-out duration-500">Go</button>
						</div>
					</div>
				</form>
			</div>
			<div v-if="result" class="rounded-lg border-2 border-amber-300 mt-2 p-2">
				<div>
					<div class="uppercase font-bold text-lg">
						<p>{{result.name}}</p>
					</div>
					<div class="flex flex-nowrap gap-3">
						<img class="rounded-lg w-1/4" :src="result.avatar_url" alt="image">
						<div class="">
							<div class="max-w-max h-32 overflow-auto">
								<p class="">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>	
							</div>
							<div class="underline decoration-1 text-cyan-500 hover:text-cyan-700 w-fit">
								<a :href="result.html_url" >{{result.login}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div v-else>
				<div class="mx-auto w-fit">
					<p class="font-light italic text-md">Try typing something...</p>
				</div>
			</div>
			<div class="bg-red-500" v-if="error">
				<div class="w-fit m-auto">Error found</div>
			</div>
		</div>
	</div>
	<!-- scripts -->
	<script src="js/main.js"></script>
</body>
</html>