<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    <div id="app">
        
        <div>
            <button v-on:click="ck(1)">click aqui para ganar 1$</button>
        </div>
        <div>
            <button  @click="ck(2)" @mouseover="estadomouse=true" @mouseout="estadomouse = false">aqui para ganar 2$</button>
        </div>
        <div>
            <button @click="imswitch()">intercambiar imagenes</button>
        </div>
        <div>
            <p>dolares ganados: {{contador}}$</p>
            <p>{{estadomouse}}</p>
        </div>
        <div>
            <input type="number" v-model="ancho">
            <img v-if="estadomouse" v-bind:src="img"  v-bind:width="ancho">
            <img v-show="!estadomouse" v-bind:src="img2"  v-bind:width="ancho">
        </div>
    </div>

    <script>
        //data / methods / props/ mounted/ computed/ watch/ destroyed
        //https://jsonplaceholder.typicode.com
        //v-if v-else v-else-if v-show
        const hola = {
            data() {
                return {
                    contador:0,
                    estadomouse:false,
                    ancho:100,
                    img: 'nero.jpg',
                    img2: 'sakurai-kun.jpg'
                }
            },
            mounted(){
            },
            methods: {
                ck(n){
                    this.contador+=n;
                },
                imswitch(){
                    var i = this.img;
                    this.img = this.img2;
                    this.img2 = i;
                }
            }
        }

        var mountedapp = Vue.createApp(hola).mount('#app');
    </script>

</body>

</html>